
.bar .button-link {
    top: 0;
    padding: 0;
    font-size: .8rem;
    line-height: 2.2rem;
    height: 2.2rem;
    color: #fff;
    border: 0;
}
.img-left{ width: 1rem;
    height: 1rem;
    background: url(../images/icon/left.png) no-repeat;
    background-size: 100% 100%; }
.text-color-1{color:#1FCCA9}
.text-color-2{color:#F2495A}
.text-color-3{color:#FFAA00}
.text-color-4{color:#1C1C1C}
.text-color-5{color:#9C9C9C}
.text-color-6{color:#CCCCCC}
.text-color-7{color:#fff}
.text-font-weight{ font-weight: bold }
.text-center{ text-align:center }
.bg-color-0{background: #edf1fa !important;}
.bg-color-1{background:#1FCCA9 !important;}
.bg-color-2{background:#F2495A !important}
.bg-color-3{background:#FFAA00 !important}
.bg-color-4{background:#1C1C1C !important}
.bg-color-5{background:#9C9C9C !important}
.bg-color-6{background:#CCCCCC !important}
.bg-color-7{background:#fff !important}
.font-size-10 {
 	font-size: 0.4rem !important;
 }
.font-size-12 {
 	font-size: 0.6rem !important;
 }
 .font-size-14 {
 	font-size: 0.7rem !important;
 }
 .font-size-16 {
 	font-size: 0.8rem !important;
 }
 .font-size-18 {
 	font-size: 0.9rem !important;
 }
 .font-size-20 {
 	font-size: 1rem !important;
 }

 .padded-0 {
 	padding: 0 !important;
 }
 .padded-5 {
 	padding: 0.25rem !important;
 }
 .padded-10 {
 	padding: 0.5rem !important;
 }
 .padded-15 {
 	padding: 0.75rem !important;
 }
 .padded-t-10 {
 	padding-top: 0.5rem !important;
 }
 .padded-t-15 {
 	padding-top: 0.75rem !important;
 }
 .padded-b-0 {
 	padding-bottom: 0 !important;
 }
 .padded-b-5 {
 	padding-bottom: 0.25rem !important;
 }
 .padded-b-10 {
 	padding-bottom: 0.5rem !important;
 }
 .padded-b-15 {
 	padding-bottom: 0.75rem !important;
 }
 .padded-l-0 {
 	padding-left: 0 !important;
 }
 .padded-l-5 {
 	padding-left: 0.25rem !important;
 }
 .padded-l-10 {
 	padding-left: 0.5rem !important;
 }
 .padded-l-15 {
 	padding-left: 0.75rem !important;
 }
 .padded-r-0 {
 	padding-right: 0 !important;
 }
 .padded-r-5 {
 	padding-right: 0.25rem !important;
 }
 .padded-r-10 {
 	padding-right: 0.5rem !important;
 }
 .padded-r-15 {
 	padding-right: 0.75rem !important;
 }
 .margin-0 {
 	margin: 0 !important;
 }
 .margin-5 {
 	margin: 0.25rem !important;
 }
 .margin-10 {
 	margin: 0.5rem !important;
 }
 .margin-15 {
 	margin: 0.75rem !important;
 }
 .margin-t-0 {
 	margin-top: 0.25rem !important;
 }
 .margin-t-5 {
 	margin-top: 0 !important;
 }
 .margin-t-10 {
 	margin-top: 0.5rem !important;
 }
 .margin-t-15 {
 	margin-top: 0.75rem !important;
 }
 .margin-b-0 {
 	margin-bottom: 0 !important;
 }
 .margin-b-5 {
 	margin-bottom: 0.25rem !important;
 }
 .margin-b-10 {
 	margin-bottom: 0.5rem !important;
 }
 .margin-b-15 {
 	margin-bottom: 0.75rem !important;
 }
 .margin-l-0 {
 	margin-left: 0 !important;
 }
 .margin-l-5 {
 	margin-left: 0.25rem !important;
 }
 .margin-l-10 {
 	margin-left: 0.5rem !important;
 }
 .margin-l-15 {
 	margin-left: 0.75rem !important;
 }
 .margin-r-0 {
 	margin-right: 0 !important;
 }
 .margin-r-5 {
 	margin-right: 0.25rem !important;
 }
 .margin-r-10 {
 	margin-right: 0.5rem !important;
 }
 .margin-r-15 {
 	margin-right: 0.75rem !important;
 }

 img.img-round {
    border-radius: 50%;
}
 img.img-center {
 	margin:0 auto;
 	width: 65%;
    height: 65%;
   
}
.text-center{ text-align: center; }

.buttons-tab .button.active {
    color:#1FCCA9 !important;
    border-color: #1FCCA9 !important;
    z-index: 100;
}

.order-badge {
   display: inline-block;
    
   
    text-align: center;
   width:20px;
    height:20px;
    padding:2px; 
    line-height: 18px;
   
    font-size: 0.4rem;
    color: #ffffff;
    background-color: #1FCCA9;
    border-radius:50%;
  
   
    z-index: 99;
}
.nav_li{height: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;}

  .nav_li img  {height:100%; margin:4px auto; }
  .ticket_img{ width: 4.5rem;  text-align: center;  overflow: hidden; margin:0 auto;}
  .ticket_title{ width: 100%;  text-align: center;  }
  .ticket_img img{ width: 100%; height: 100%; }

@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #1FCCA9; } }

.magic-radio,
.magic-checkbox {
  position: absolute;
  right: 15px; top:20px;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
 right: 15px; top:-10px;
  cursor: pointer;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1FCCA9; }

.magic-radio:checked + label:before {
  border: 1px solid #1FCCA9; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border: #1FCCA9;
  background: #1FCCA9; }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }

  .icon-cancle{
  position: absolute;
  top: .6rem;
  right: .6rem;
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  background: url(../images/icon/cancle.png) no-repeat;
  background-size: 100% 100%;
  background-color: #cecece;
  border: 3px solid #cecece;
}
#tips{   width: 100%; height: 80px; }
#tips .tips_left{ width: 15%;float:left; }
#tips .tips_left img{ width: 90%; height: 90%; line-height: 100% }

#tips .tips_content{ width: 80%;float:left;}

#tips .tips_right{ width: 5%;float:right;}


label.label-checkbox {
  cursor: pointer;
}
label.label-checkbox i.icon-form-checkbox {
  width: 0.6rem;
  height: 0.6rem;
  position: relative;
  border-radius:0rem;
  border: 1px solid #c7c7cc;
  box-sizing: border-box;
}
label.label-checkbox i.icon-form-checkbox:after {
  content: ' ';
  position: absolute;
  left: 50%;
  margin-left: -0.3rem;
  top: 50%;
  margin-top: -0.2rem;
  width: 0.6rem;
  height: 0.45rem;
}
label.label-checkbox input[type="checkbox"],
label.label-checkbox input[type="radio"] {
  display: none;
}
label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {
  border: none;
  background-color: #1FCCA9;
}
label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox:after,
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after {
  background: no-repeat center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E");
  background-size: 0.6rem 0.45rem;
}
label.label-checkbox {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
html:not(.watch-active-state) label.label-checkbox:active,
label.label-checkbox.active-state {
  -webkit-transition: 0ms;
          transition: 0ms;
  background-color: #d9d9d9;
}
html:not(.watch-active-state) label.label-checkbox:active .item-inner:after,
label.label-checkbox.active-state .item-inner:after {
  background-color: transparent;
}
.smart-select select {
  display: none;
}


 .rese_bg{
  width: 100%;
  height: 7.5rem;
  text-align: center;
  overflow: hidden;
  background: url(../images/icons/head_bg.png) no-repeat;
  background-size:100%;
}
 .rese_bg .title{
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  color:#fff; font-weight: bold;

}
.button{background: #1FCCA9;
    border-color: transparent;
    color: #fff;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .8rem;}