<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>城市列表</title>
    <link rel="stylesheet" href="../lib/sm.min.css">
    <link rel="stylesheet" href="../resources/css/city.css">
    <script type='text/javascript' src='../resources/js/city-data.js' charset='utf-8'></script>
</head>
<body>
    <div class="page-group">
        <div class="page page-current" id="city">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="back" data-transition='slide-out'>
                    <span class="icon back"></span>
                </a>
                <h3 class="title">选择城市</h3>
            </header>
            <div class="bar bar-header-secondary">
                <div class="searchbar">
                    <a class="searchbar-cancel">取消</a>
                    <div class="search-input">
                        <label class="icon icon-search" for="search"></label>
                        <input type="search" id='search' placeholder='中文/拼音/首字母' />
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="city-item">
                    <div class="title-box">根据您的定位推荐</div>
                    <div class="row">
                        <div class="col-25"><p><a href="#" class="button">深圳</a></p></div>
                    </div>
                    <div class="title-box">历史记录</div>
                    <div class="row">
                        <div class="col-25"><p><a href="#" class="button button-blue">深圳</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">广州</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">长沙</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">张家界</a></p></div>
                    </div>
                    <div class="title-box">热门城市</div>
                    <div class="row" id="hotcity">                        
                        <!-- <div class="col-25"><p><a href="#" class="button button-dark">北京</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">上海</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">南京</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">杭州</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">苏州</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">天津</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-blue">深圳</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">无锡</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">成都</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">重庆</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">长沙</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">武汉</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">郑州</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">广州</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">太原</a></p></div>
                        <div class="col-25"><p><a href="#" class="button button-dark">石家庄</a></p></div> -->
                    </div>
                </div>
                <div class="container">
                    <div class="city" id="city">
                        <!-- 循环data.list里的每个数组,即data.list=city -->
                        {{each list city}}
                        <div class="city-list"><span class="city-letter" id="{{city.letter}}+'1'">{{city.letter}}</span>
                            <!-- 循环data.list里的citLlist -->
                            {{each city.citLlist citLlist}}
                            <p data-id="{{citLlist.id}}">{{citLlist.name}}</p>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                <!-- 字母列表 -->
                <div class="letter">
                    <ul>
                        <li class="small"><a href="javascript:;">推荐</a></li>
                        <li class="small"><a href="javascript:;">历史</a></li>
                        <li class="small"><a href="javascript:;">热门</a></li>
                        <li><a href="javascript:;">A</a></li>
                        <li><a href="javascript:;">B</a></li>
                        <li><a href="javascript:;">C</a></li>
                        <li><a href="javascript:;">D</a></li>
                        <li><a href="javascript:;">E</a></li>
                        <li><a href="javascript:;">F</a></li>
                        <li><a href="javascript:;">G</a></li>
                        <li><a href="javascript:;">H</a></li>
                        <li><a href="javascript:;">J</a></li>
                        <li><a href="javascript:;">K</a></li>
                        <li><a href="javascript:;">L</a></li>
                        <li><a href="javascript:;">M</a></li>
                        <li><a href="javascript:;">N</a></li>
                        <li><a href="javascript:;">P</a></li>
                        <li><a href="javascript:;">Q</a></li>
                        <li><a href="javascript:;">R</a></li>
                        <li><a href="javascript:;">S</a></li>
                        <li><a href="javascript:;">T</a></li>
                        <li><a href="javascript:;">W</a></li>
                        <li><a href="javascript:;">X</a></li>
                        <li><a href="javascript:;">Y</a></li>
                        <li><a href="javascript:;">Z</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='../lib/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='../lib/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='../lib/template.js' charset='utf-8'></script>
    <script type='text/javascript' src='../resources/js/city-data.js' charset='utf-8'></script>
    <script id="hot" type="text/html">
        {{each list as value i}}
            <div class="col-25"><p><a href="#" class="button button-dark">{{value}}</a></p></div>
        {{/each}}
    </script>
    <script type="text/javascript">
    // 渲染城市列表
    // 指定模板数据
    var html = template('city', data);
    // 渲染数据
    document.getElementById('city').innerHTML = html;

    // 渲染热门城市列表
    var hotcity={"list":["北京","上海","南京","杭州","苏州","天津","深圳","无锡","成都","重庆","长沙","武汉","郑州","广州","太原","石家庄"]
    };
    var hothtml = template('hot', hotcity);
    document.getElementById('hotcity').innerHTML = hothtml;
    
    //加载城市事件
    // $('body').on('click', '#zone_ids,#gr_zone_ids', function() {
    //     var zid = $(this).attr('id');
    //     $('.container').show();
    // });
    //选择城市 start
    $('body').on('click', '.city-list p', function() {
        var type = $('.container').data('type');
        $('#zone_ids').html($(this).html()).attr('data-id', $(this).attr('data-id'));
        $('#gr_zone_ids').html($(this).html()).attr('data-id', $(this).attr('data-id'));
        $('.container').hide();
    });
    $('body').on('click', '.letter a', function() {
        var s = $(this).html();
        $(window).scrollTop($('#' + s + '1').offset().top);
    });
    </script>
</body>

</html>