<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>12306</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" href="../lib/sm.min.css">
    <link rel="stylesheet" href="../resources/css/zhou.css">
</head>
<body  class="bg-color-0">
<header class="bar bar-nav bg-color-1">
  <h1 class="title text-color-7">订单中心</h1>
</header>

<div class="content">

<div class="content">
  <div class="buttons-tab">
    <a href="#tab1" class="tab-link active button">未使用</a>
    <a href="#tab2" class="tab-link button">历史车票</a>
    
  </div>
  <div class="content-block  margin-0 padded-0">
    <div class="tabs margin-0 padded-0">
      <div id="tab1" class="tab active">
        <div class="card facebook-card">
    <div class="card-header no-border text-center">
    2017-08-13 
    <span class="text-color-3 font-size-10 pull-right" style="border:1px solid #FFAA00 ; padding:0px 2px; ">未支付</span>
    </div>
    <div class="card-content">

 <div class="row text-center">
      <div class="col-33 text-font-weight"> 深圳北<div class="grid-label text-color-1 font-size-18 ">07:15</div></div>
        <div class="col-33  font-size-10 text-color-5" style=" line-height: 12px;">

G520<div class=" text-color-1 font-size-10 grid-label "  style=" height: 20px;"><div class="order-badge">始</div>-------<div class="order-badge">过</div></div>13:14
        </div>
          <div class="col-33 text-font-weight"> 张家界西<div class="grid-label text-color-1 font-size-18 ">18:15</div></div>
           
    </div>
    </div>
    <div class="card-footer no-border">
      <div class="link text-color-5">二周</div>
      <div  class="link text-color-5">软卧&nbsp;03车厢102号</div>
      <div class="link text-color-3">￥167</div>
    </div>
  </div>

  <div class="card facebook-card">
    <div class="card-header no-border text-center">
    2017-08-13 
    <span class="text-color-3 font-size-10 pull-right" style="border:1px solid #FFAA00 ; padding:0px 2px; ">未支付</span>
    </div>
    <div class="card-content">

 <div class="row text-center">
      <div class="col-33 text-font-weight"> 深圳北<div class="grid-label text-color-1 font-size-18 ">07:15</div></div>
        <div class="col-33  font-size-10 text-color-5" style=" line-height: 12px;">

G520<div class=" text-color-1 font-size-10 grid-label "  style=" height: 20px;"><div class="order-badge">始</div>-------<div class="order-badge">过</div></div>13:14
        </div>
          <div class="col-33 text-font-weight"> 张家界西<div class="grid-label text-color-1 font-size-18 ">18:15</div></div>
           
    </div>
    </div>
    <div class="card-footer no-border">
      <div class="link text-color-5">二周</div>
      <div  class="link text-color-5">软卧&nbsp;03车厢102号</div>
      <div class="link text-color-3">￥167</div>
    </div>
  </div>


      </div>
      <div id="tab2" class="tab">
        <div class="card facebook-card">
    <div class="card-header no-border text-center">
    2017-08-13 
    <span class="text-color-3 font-size-10 pull-right" style="border:1px solid #FFAA00 ; padding:0px 2px; ">已使用</span>
    </div>
    <div class="card-content">

 <div class="row text-center">
      <div class="col-33 text-font-weight"> 深圳北<div class="grid-label text-color-1 font-size-18 ">07:15</div></div>
        <div class="col-33  font-size-10 text-color-5" style=" line-height: 12px;">

G520<div class=" text-color-1 font-size-10 grid-label "  style=" height: 20px;"><div class="order-badge">始</div>-------<div class="order-badge">过</div></div>13:14
        </div>
          <div class="col-33 text-font-weight"> 张家界西<div class="grid-label text-color-1 font-size-18 ">18:15</div></div>
           
    </div>
    </div>
    <div class="card-footer no-border">
      <div class="link text-color-5">二周</div>
      <div  class="link text-color-5">软卧&nbsp;03车厢102号</div>
      <div class="link text-color-3">￥167</div>
    </div>
  </div>
  <div class="card facebook-card">
    <div class="card-header no-border text-center">
    2017-08-13 
    <span class="text-color-3 font-size-10 pull-right" style="border:1px solid #FFAA00 ; padding:0px 2px; ">已使用</span>
    </div>
    <div class="card-content">

 <div class="row text-center">
      <div class="col-33 text-font-weight"> 深圳北<div class="grid-label text-color-1 font-size-18 ">07:15</div></div>
        <div class="col-33  font-size-10 text-color-5" style=" line-height: 12px;">

G520<div class=" text-color-1 font-size-10 grid-label "  style=" height: 20px;"><div class="order-badge">始</div>-------<div class="order-badge">过</div></div>13:14
        </div>
          <div class="col-33 text-font-weight"> 张家界西<div class="grid-label text-color-1 font-size-18 ">18:15</div></div>
           
    </div>
    </div>
    <div class="card-footer no-border">
      <div class="link text-color-5">二周</div>
      <div  class="link text-color-5">软卧&nbsp;03车厢102号</div>
      <div class="link text-color-3">￥167</div>
    </div>
  </div>
      </div>
   
    </div>
  </div>
</div>

</div> 

<nav class="bar bar-tab text-font-weight">
  <a class="tab-item external " href="#">
    <span class="icon icon-home"></span>
    <span class="tab-label">车票预定</span>
  </a>
  <a class="tab-item external active" href="#">
    <span class="icon icon-me"></span>
    <span class="tab-label ">商旅服务</span>
    <span class="badge">2</span>
  </a>
  <a class="tab-item external" href="#">
    <span class="icon icon-star  text-color-7"></span>
    <span class="tab-label text-color-1">订单中心</span>
  </a>
  <a class="tab-item external" href="#">
    <span class="icon icon-cart"></span>
    <span class="tab-label">我的12306</span>
  </a>
 
</nav>

<script type='text/javascript' src='../lib/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../lib/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../resources/js/index.js' charset='utf-8'></script>
</body>
</html>