<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>支付成功</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
<link rel="stylesheet" href="../lib/sm.min.css">
<link rel="stylesheet" href="../resources/css/zhou.css">
<link rel="stylesheet" href="../resources/css/login.css">
</head>
<body  >
 <div class="page-group ">
        <div class="page page-current">
            <header class="bar bar-nav  bg-color-1">
               
                <a class="button button-link button-nav pull-left" href="javascript:window.history.back(); ">
            <span class="icon img-left text-color-7"></span>
          </a>
               
    <h1 class="title text-color-7 ">支付订单</h1>
            </header>
          
<div class="content bg-color-0"  style=" margin-bottom : 2.5rem;">

              <div class="content-block padded-0 margin-0">
                 <div class="card facebook-card">

    <div class="card-header no-border text-center text-font-weight font-size-14  text-color-4">
     <span class="text-color-2 font-size-12 pull-left" ><i class="icon icon-f7"><img src="../resources/images/icon/time.png" style=" width:70%" ></i>19.35</span>
    2017年08月13日 
    <span class="text-color-6 font-size-12 pull-right" >星期五</span>
    </div>
    <div class="card-content"> 

 <div class="row text-center">
      <div class="col-33 text-font-weight"> 深圳北<div class="grid-label text-color-1 font-size-18 ">07:15</div></div>
        <div class="col-33  font-size-10 text-color-5" style=" line-height: 12px;">

G520<div class=" text-color-1 font-size-10 grid-label "  style=" height: 20px;"><div class="order-badge">始</div>-------<div class="order-badge">过</div></div>13:14
        </div>
          <div class="col-33 text-font-weight"> 张家界西<div class="grid-label text-color-1 font-size-18 ">18:15</div></div>
           
    </div>
    </div>
    <div class="card-footer no-border">
      <div class="link text-color-5">二周</div>
      <div  class="link text-color-5">软卧&nbsp;03车厢102号</div>
      <div class="link text-color-3">￥167</div>
    </div>
  </div>
                    <div class="list-block margin-0">
                        <ul>
        <li class="item-content ">
           <div class="item-media  padded-0 margin-0"><i class="icon icon-f7"><img src="../resources/images/icon/payfor.png" style=" width:70%" ></i></div>
          <div class="item-inner padded-0 margin-0">
            <div class="item-title font-size-12 text-font-weight text-color-6">
            选择支付方式</div>
           
          </div>
        </li>
        <li class="item-content">
          <div class="item-media  padded-0 margin-0"><i class="icon icon-f7"><img src="../resources/images/icon/yhk.png" style=" width:70%" ></i></div>
          <div class="item-inner padded-0 margin-0">
            <div class="item-title font-size-12 text-font-weight text-color-4 ">
           

           银行卡支付</div>
 <div class=" pull-right  padded-r-15 ">
        <input class="magic-checkbox" type="checkbox" name="layout" id="a2" >
        <label for="a2"></label>
      </div>          </div>
       </li>
       <li class="item-content">
          <div class="item-media  padded-0 margin-0"><i class="icon icon-f7"><img src="../resources/images/icon/zfb.png" style=" width:70%" ></i></div>
          <div class="item-inner padded-0 margin-0">
            <div class="item-title font-size-12 text-font-weight text-color-4 ">
           支付宝支付 </div>
           <div class=" pull-right  padded-r-15 ">
        <input class="magic-checkbox" type="checkbox" name="layout" id="b2" >
        <label for="b2"></label>
      </div>
           
          </div>
       </li>
       <li class="item-content">
          <div class="item-media  padded-0 margin-0"><i class="icon icon-f7"><img src="../resources/images/icon/wx.png" style=" width:70%" ></i></div>
          <div class="item-inner padded-0 margin-0">
            <div class="item-title font-size-12 text-font-weight text-color-4 ">
           

          微信支付</div>
          <div class=" pull-right  padded-r-15 ">
        <input class="magic-checkbox" type="checkbox" name="layout" id="c2" checked="">
        <label for="c2"></label>
      </div>
           
          </div>
       </li>
      </ul>
                    
                        <p><a href="" class="button margin-15">立即支付</a></p>
                          <p><a href="" class="button margin-15 bg-color-2">取消订单</a></p>

                    </div>


                   
              </div>
            
</div>
</div>
</div>
<script type='text/javascript' src='../lib/zepto.min.js' charset='utf-8'></script> 
<script type='text/javascript' src='../lib/sm.min.js' charset='utf-8'></script> 
<script type='text/javascript' src='../resources/js/index.js' charset='utf-8'></script>
</body>
</html>