<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>支付成功</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
<link rel="stylesheet" href="../lib/sm.min.css">
<link rel="stylesheet" href="../resources/css/zhou.css">
<link rel="stylesheet" href="../resources/css/login.css">
</head>
<body  >
<div class="page-group ">
  <div class="page page-current">
    <header class="bar bar-nav  bg-color-1"> <a class="button button-link button-nav pull-left" href="javascript:window.history.back(); "> <span class="icon img-left text-color-7"></span> </a> <a class="button button-link button-nav pull-right   font-size-14 text-color-7"> 返回首页 </a>
      <h1 class="title text-color-7 ">支付成功</h1>
    </header>
    <div class="content bg-color-0"  style=" margin-bottom : 2.5rem;">
      <div class="content-block padded-0">
        <div class="ticket_img" > <img src="../resources/images/icon/ticket.png" alt=""> </div>
        <div class="ticket_title font-size-14 text-align  text-font-weight" > 正在为您出票… </div>
        <div class="list-block">
          <ul>
            <li class="item-content ">
              <div class="item-media  padded-0 margin-0"><i class="icon icon-f7"><img src="../resources/images/icon/order.png" style=" width:50%" ></i></div>
              <div class="item-inner padded-0 margin-0">
                <div class="item-title font-size-14 text-font-weight text-color-4"> <span class=" font-size-12 text-color-6  margin-5">订单号</span> EF9035104</div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-media  padded-0 margin-0"><i class="icon icon-f7"><img src="../resources/images/icon/seat.png" style=" width:50%" ></i></div>
              <div class="item-inner padded-0 margin-0">
                <div class="item-title font-size-14 text-font-weight text-color-4 "> <span class=" font-size-12 text-color-6  margin-5">座位号</span> G520车次&nbsp;软卧&nbsp;03车102号</div>
              </div>
            </li>
          </ul>
          <p><a href="" class="button margin-15">查看订单详情</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript' src='../lib/zepto.min.js' charset='utf-8'></script> 
<script type='text/javascript' src='../lib/sm.min.js' charset='utf-8'></script> 
<script type='text/javascript' src='../resources/js/index.js' charset='utf-8'></script>
</body>
</html>