<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>车票预定</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
<link rel="stylesheet" href="../lib/sm.min.css">
<link rel="stylesheet" href="../resources/css/zhou.css">
<link rel="stylesheet" href="../resources/css/login.css">
</head>
<body >
<div class="page-group">
  <div class="page page-current "> 
    <!--  <header class="bar bar-nav bg-color-1"> <a class="button button-link button-nav pull-left" href="back" data-transition='slide-out'> <span class="icon back"></span> </a>
      <h3 class="title text-color-7">车票预定</h3>
    </header> -->
    <div class="content bg-color-0" style=" margin-bottom: 2.5rem">
      <div class="rese_bg" style="">
        <div class=" title">车票预定</div>
      </div>
      <div class="card facebook-card  margin-15">
        <div class="card-content padded-15 " style="  margin-top:-1.6rem;">
          <div class="row text-center">
            <div class="col-15 text-font-weight text-color-6 margin-b-5">
              <div class="grid-label text-color-4 font-size-16 "></div>
            </div>
            <div class="col-25 text-font-weight text-color-6 margin-b-5"> 始发站
              <div class="grid-label text-color-4 font-size-16 ">深圳北</div>
            </div>
            <div class="col-20 text-center" ><img src="../resources/images/icon/goback.png" class="img-center "  > </div>
            <div class="col-25 text-font-weight text-color-6 margin-b-5"> 终点站
              <div class="grid-label text-color-4 font-size-16 ">张家界</div>
            </div>
            <div class="col-15 text-font-weight text-color-6 margin-b-5">
              <div class="grid-label text-color-4 font-size-16 "></div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-color-7 text-font-weight   font-size-14 " style=" border-bottom:1px dashed #f1f1f1;"> <span class="icon left-icon"></span><span class="icon right-icon"></span>
          <div class="row">
            <div class="col-100 ">07月25日&nbsp;今天<span class=" pull-right" ><img src="../resources/images/icon/calendar.png" class="img-center "  ></span></div>
          </div>
        </div>
        <div class="card-header no-border font-size-14 padded-b-0 ">
          <div class="row text-left  ">
            <label class="col-50 label-checkbox">
            <input type="radio" name="my-radio" checked>
            <div class="item-media"><span class=" margin-r-10">高铁动车</span><i class="icon icon-form-checkbox"></i></div>
            </label>
            <label class="col-50 label-checkbox">
            <input type="radio" name="my-radio">
            <div class="item-media text-right"><span class=" margin-r-10">学生票</span><i class="icon icon-form-checkbox"></i></div>
            </label>
          </div>
        </div>
        <p class=" margin-0"> <a href="" class="button  bg-color-1 margin-l-15 margin-r-15  "><img src="../resources/images/icon/search1.png" style=" height: 40%"  class=" margin-r-5"  >查询</a></p>
        <div class="card-footer no-border text-color-5 bg-color-7"> <img src="../resources/images/icon/eye.png" style=" width: 5%;"   >深圳-上海&nbsp;深圳-呼和浩特&nbsp;深圳-张家界&nbsp;清除全部</div>
      </div>
      <div class="list-block media-list margin-0 margin-b-10  font-size-14 ">
        <ul>
          <li>
            <div class="item-inner padded-r-0">
              <div class="row text-center">
                <div class="col-33"><img src="../resources/images/icon/icon_8.png"  class="img-center "   style=" width: 40% ">
                  <div class="grid-label">正晚点</div>
                </div>
                <div class="col-33"><img src="../resources/images/icon/icon_9.png" class="img-center "  style=" width: 40% ">
                  <div class="grid-label">订餐服务</div>
                </div>
                <div class="col-33"><img src="../resources/images/icon/icon_10.png" class="img-center "  style=" width: 40% ">
                  <div class="grid-label">约车服务</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="list-block margin-0 " id="tips">
        <ul>
          <li class="item-content">
            <div class="item-inner  text-color-6 font-size-12">
              <div class="tips_left"><img src="../resources/images/icon/tips.png" class="img-center " > </div>
              <div class="tips_content">
                <div class="grid-label">温馨提示：铁路12306每日06:00-23:00提供服务，在铁路12306购票，改签和退票须不晚于开车前30分钟。</div>
              </div>
              <div class="tips_right"><span class="icon icon-cancle"></span> </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <nav class="bar bar-tab text-font-weight bg-color-7"> <a class="tab-item external " href="reservation.html">
      <div class="nav_li"> <img src="../resources/images/icon/nav_4.png"  > </div>
      <span class="tab-label font-size-12 text-color-1">车票预定</span> </a> <a class="tab-item external " href="service.html">
      <div class="nav_li"> <img src="../resources/images/icon/nav_3.png"  > </div>
      <span class="tab-label  font-size-12 ">商旅服务</span> </a> <a class="tab-item external" href="order.html">
      <div class="nav_li"> <img src="../resources/images/icon/nav_2.png"  > </div>
      <span class="tab-label  font-size-12">订单中心</span> </a> <a class="tab-item external" href="personal.html">
      <div class="nav_li"> <img src="../resources/images/icon/nav_1.png"  > </div>
      <span class="tab-label font-size-12">我的12306</span> </a> </nav>
  </div>
</div>
<script type='text/javascript' src='../lib/zepto.min.js' charset='utf-8'></script> 
<script type='text/javascript' src='../lib/sm.min.js' charset='utf-8'></script> 
<script type='text/javascript' src='../resources/js/index.js' charset='utf-8'></script> 
<script type="text/javascript">
            $(function () {
                   $(".icon-cancle").click(function () {
                    $("#tips").remove();
})
            })
            
        </script>
</body>
</html>