<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>商旅服务</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
<link rel="stylesheet" href="../lib/sm.min.css">
<link rel="stylesheet" href="../resources/css/zhou.css">
</head>
<body  class="bg-color-0">
<header class="bar bar-nav bg-color-1">
  <h1 class="title text-color-7">商旅服务</h1>
</header>
<div class="content"  style=" margin-bottom: 2.5rem;">
  <div class="card-container ">
    <div class="card margin-0 margin-b-10">
      <div class="card-header margin-15 padded-0" ><span style=" height:2.2rem;  line-height: 2.2rem" class=" pull-left"><img src="../resources/images/icon/location2.png" style=" height:100%; " class=" padded-10 pull-left padded-l-0" style=" height:100%; " class=" padded-10 pull-left padded-l-0">旅行休闲</span></div>
      <div class="card-content">
        <div class="card-content-inner  ">
          <div class="row text-center">
            <div class="col-25"><img src="../resources/images/icon/icon_1.png" class="img-center " >
              <div class="grid-label">腾讯新闻</div>
            </div>
            <div class="col-25"><img src="../resources/images/icon/icon_2.png"  class="img-center " >
              <div class="grid-label">今日头条</div>
            </div>
            <div class="col-25"><img src="../resources/images/icon/icon_3.png"  class="img-center " >
              <div class="grid-label">搜狐新闻</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container ">
    <div class="card margin-0 margin-b-10">
      <div class="card-header margin-15 padded-0" ><span style=" height:2.2rem;  line-height: 2.2rem" class=" pull-left"><img src="../resources/images/icon/compass.png" style=" height:100%; " class=" padded-10 pull-left padded-l-0"  >出行向导</span></div>
      <div class="card-content">
        <div class="card-content-inner">
          <div class="row text-center">
            <div class="col-25"><img src="../resources/images/icon/icon_4.png" class="img-center " >
              <div class="grid-label">车次查询</div>
            </div>
            <div class="col-25"><img src="../resources/images/icon/icon_5.png"  class="img-center " ><div class="grid-label">票价查询</div>
          </div>
          <div class="col-25"><img src="../resources/images/icon/icon_6.png"  class="img-center " >
            <div class="grid-label">车票代售点</div>
          </div>
          <div class="col-25"><img src="../resources/images/icon/icon_7.png"  class="img-center " >
            <div class="grid-label">起售时间</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-container ">
    <div class="card margin-0 margin-b-10">
      <div class="card-header margin-15 padded-0" ><span style=" height:2.2rem;  line-height: 2.2rem" class=" pull-left"><img src="../resources/images/icon/heart.png" style=" height:100%; " class=" padded-10 pull-left padded-l-0"  >温馨服务</span></div>
      <div class="card-content">
        <div class="card-content-inner  ">
          <div class="row text-center">
            <div class="col-25"><img src="../resources/images/icon/icon_8.png" class="img-center " >
              <div class="grid-label">查找遗失</div>
            </div>
            <div class="col-25"><img src="../resources/images/icon/icon_9.png"  class="img-center " >
              <div class="grid-label">特殊预约</div>
            </div>
            <div class="col-25"><img src="../resources/images/icon/icon_10.png"  class="img-center " >
              <div class="grid-label">客服电话</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card-container ">
    <div class="card margin-0 margin-b-10">
      <div class="card-header margin-15 padded-0" ><span style=" height:2.2rem;  line-height: 2.2rem" class=" pull-left"><img src="../resources/images/icon/advisory.png" style=" height:100%; " class=" padded-10 pull-left padded-l-0"  >信息问题</span></div>
      <div class="card-content">
        <div class="card-content-inner">
          <div class="row text-center">
            <div class="col-25"><img src="../resources/images/icon/icon_11.png" class="img-center " >
              <div class="grid-label">铁路保险</div>
            </div>
            <div class="col-25"><img src="../resources/images/icon/icon_12.png"  class="img-center " ><div class="grid-label">使用须知</div>
          </div>
          <div class="col-25"><img src="../resources/images/icon/icon_13.png"  class="img-center " >
            <div class="grid-label">相关文章</div>
          </div>
          <div class="col-25"><img src="../resources/images/icon/icon_14.png"  class="img-center " >
            <div class="grid-label">常见问题</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<nav class="bar bar-tab text-font-weight bg-color-7"> 
<a class="tab-item external " href="reservation.html">
 <div class="nav_li">
    <img src="../resources/images/icon/nav_4.png"  >
  </div> 
  <span class="tab-label font-size-12">车票预定</span>
</a>
<a class="tab-item external active" href="service.html"> 
  <div class="nav_li">
    <img src="../resources/images/icon/nav_3.png"  > 
  </div> 
  <span class="tab-label  font-size-12 text-color-1">商旅服务</span> </a>
<a class="tab-item external" href="order.html">
  <div class="nav_li">
    <img src="../resources/images/icon/nav_2.png"  >
    </div> 
    <span class="tab-label  font-size-12">订单中心</span> </a> 
<a class="tab-item external" href="personal.html">
   <div class="nav_li">
    <img src="../resources/images/icon/nav_1.png"  >
  </div> 
    <span class="tab-label  font-size-12">我的12306</span> 
</a> 
</nav>
<script type='text/javascript' src='../lib/zepto.min.js' charset='utf-8'></script> 
<script type='text/javascript' src='../lib/sm.min.js' charset='utf-8'></script> 
<script type='text/javascript' src='../resources/js/index.js' charset='utf-8'></script>
</body>
</html>