<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>12306</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" href="../lib/sm.min.css">
    <link rel="stylesheet" href="../resources/css/zhou.css">
</head>
<body  class="bg-color-0">
<header class="bar bar-nav bg-color-1">
  <h1 class="title text-color-7">商旅服务</h1>
</header>

<div class="content">
  

  <div class="card-container ">
        <div class="card margin-0 margin-b-10">
         
            <div class="card-header  margin-15 padded-0" style=" text-align: left"><span style=" width:28px; height:28px;" class=" pull-left"><img src="../resources/images/icon/location2.png" style=" width: 50%" ></span>旅行休闲</div>
            <div class="card-content">
                <div class="card-content-inner  ">
                    <div class="row text-center">
      <div class="col-25"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" class="img-center " ><div class="grid-label">腾讯新闻</div></div>
        <div class="col-25"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"  class="img-center " ><div class="grid-label">今日头条</div></div>
          <div class="col-25"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"  class="img-center " ><div class="grid-label">搜狐新闻</div></div>
           
    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="card-container ">
        <div class="card margin-0 margin-b-10">
         
            <div class="card-header margin-15 padded-0" ><span style=" height:2.2rem;  line-height: 2.2rem" class=" pull-left"><img src="../resources/images/icon/compass.png" style=" height:55%;float:left; line-height: 100%  " >旅行休闲</span></div>
            <div class="card-content">
                <div class="card-content-inner">
                    <div class="row text-center">
      <div class="col-25"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" class="img-center " ><div class="grid-label">腾讯新闻</div></div>
        <div class="col-25"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"  class="img-center " ><div class="grid-label">今日头条</div></div>
          <div class="col-25"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"  class="img-center " ><div class="grid-label">搜狐新闻</div></div>
            <div class="col-25"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"  class="img-center " ><div class="grid-label">清洁区</div></div>
    </div>
                </div>
            </div>
        </div>
    </div>

</div> 

<nav class="bar bar-tab text-font-weight">
  <a class="tab-item external " href="#">
    <span class="icon icon-home"></span>
    <span class="tab-label">车票预定</span>
  </a>
  <a class="tab-item external active" href="#">
    <span class="icon icon-me text-color-7"></span>
    <span class="tab-label text-color-1">商旅服务</span>
    <span class="badge">2</span>
  </a>
  <a class="tab-item external" href="#">
    <span class="icon icon-star"></span>
    <span class="tab-label">订单中心</span>
  </a>
  <a class="tab-item external" href="#">
    <span class="icon icon-cart"></span>
    <span class="tab-label">我的12306</span>
  </a>
 
</nav>

<script type='text/javascript' src='../lib/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../lib/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../resources/js/index.js' charset='utf-8'></script>
</body>
</html>